<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    <meta name="description" content="Website of Lilian Gallon, French CS student from Bordeaux curently studying at the University of California - Santa Cruz."/>
    <meta name="keywords" content="Lilian Gallon, nero, N3ROO, N3RO, Lilian, Gallon, Bordeaux, Université de Bordeaux, IUT Bordeaux, Licence Bordeaux, University of California, UCSC, Santa Cruz, nero!"/>
    <meta name="author" content="Lilian Gallon"/>
    <meta name="copyright" content="Lilian Gallon"/>
    <meta name="robots" content="follow"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/resources/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/resources/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Website preview -->
    <meta property="og:image" content="https://gallon.dev/resources/images/logo/website_preview.jpg" />

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="/vendors/fontawesome-free-5.11.2-web/css/all.min.css">

    <!-- Vue.js -->
    <script src="/vendors/vuejs-2.6.10/vue.min.js"></script>

    <!-- Website CSS -->
    <link rel="stylesheet" href="/style/dark.css" id="theme"> <!-- default theme -->
    <link rel="stylesheet" href="/style/utility.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/sidebar.css">
    <link rel="stylesheet" href="/style/middle.css">
    <link rel="stylesheet" href="/style/right.css">
    <link rel="stylesheet" href="/style/footer.css">

    <title>Projects - gallon.dev</title>
</head>


<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black bottom-gradient">
            <a class="navbar-brand" href="/">
                <img id="logo" src="resources/images/logo/gallon_dev_light.png" alt="logo" height="30" class="d-inline-block align-top">
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <!-- <input class="form-control mr-sm-2" placeholder="Coming soon..."> -->

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/projects.html">Projects <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resume.html">Resume</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cheatsheets
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/cpp.html">Advanced C++</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/mcmod-lesson.html">How to create a Minecraft mod</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Utility
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/gists.html">Gists</a>
                            <a class="dropdown-item" href="/about.html#changelog">Changelog</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">About</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="theme-changer" class="nav-link" href="" onclick="toggleTheme()">
                            <i class="fa-fw fas fa-sun"></i> Light theme
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">v{{ version }} <!-- <span class="main-palette"><small><i>new!</i></small></span> --></a>
                    </li>
                </ul>
            </div>
        </nav>

        <script>
            // If the theme is not the default one, we need to load it while rendering the page
            // Otherwise it would load the default theme, and the load the selected theme which
            // will decrease the user experience
            function setTheme(themeName) {
                localStorage.setItem('theme', themeName);
                document.getElementById('theme').href = '/style/' + themeName + '.css';

                if (themeName === 'light') {
                    document.getElementById('logo').src = '/resources/images/logo/gallon_dev_dark.png';
                    document.getElementById('theme-changer').innerHTML = '<i class="fa-fw fas fa-moon"></i> Dark theme';
                } else {
                    document.getElementById('logo').src = '/resources/images/logo/gallon_dev_light.png';
                    document.getElementById('theme-changer').innerHTML = '<i class="fa-fw fas fa-sun"></i> Light theme';
                }
            }

            function toggleTheme() {
                console.log(localStorage.getItem('theme'));
                if (localStorage.getItem('theme') === 'dark') {
                    setTheme('light');
                } else {
                    setTheme('dark');
                }
            }

            (function () {
            if (localStorage.getItem('theme') === 'light') {
                setTheme('light');
            } else {
                setTheme('dark');
            }
            })();
        </script>

        <div class="row">

            <!-- Sidebar -->
            <div class="col-xl-2 col-md-4 left-panel">
                <div class="container sticky">
                    <!-- Projects -->
                    <div class="title">
                        Projects
                    </div>
                    <input class="form-control" placeholder="Search for projects..." @input="onProjectsSearch">
                    <div class="project-list">
                        <ul>
                            <li v-for="(project, index) in projectsSearched" v-if="index <= 5">
                                <i class="fa-fw far fa-folder"></i> <a
                                :href="'/projects.html#' + project.name"
                                class="discret-link"
                                @click="moveAndFocusProject(100)">{{ project.name }}</a>
                            </li>
                            <em v-if="projectsSearched.length - 5 > 0">{{ projectsSearched.length - 5 }} more...</em>
                        </ul>
                    </div>


                    <a href="https://github.com/N3ROO" target="_blank">
                        <button class="button" type="button">
                            <i class="fa-fw fab fa-github"></i> Follow @N3ROO
                        </button>
                    </a>

                    <br><br>

                    Websites of friends:<br>
                    - <a href="https://ljolliet.github.io/" target="_blank">Louis</a>
                </div>
            </div>

            <!-- Middle content -->
            <div class="col-xl-8 col-md-8 middle-panel">
                <div class="container">

                    <p>
                        <i>To get an overview of what I'm currently working on, visit my personal <a href="https://github.com/N3ROO">Github page</a>.</i>
                    </p>


                    <h2>Special projects</h2>
                    <hr>

                    <!-- Manual repos -->
                    <div class="repo">
                        <div id="EzAPIs_(organization)" class="container">
                            <div class="row">
                                <div class="col-md-2 col-lg-1 repo-image center" >
                                    <img src="/resources/images/showcase/showcase_ezapi.gif" style="background:rgb(62, 71, 78); border-radius:75px; padding: 4px;">
                                </div>
                                <div class="col-md-9 col-lg-10 repo-content">
                                    <div class="repo-title">
                                        EzAPIs
                                    </div>
                                    <div class="repo-description">
                                        Github organization containing a compilation of useful and minimalist python APIs. Composed of:<br>
                                        - <a href="https://github.com/ez-apis/ez-web-scraping">ez-web-scraping</a>: 🔐 A minimalist way to retrieve data from websites that require login <br>
                                        - <a href="https://github.com/ez-apis/ez-progress-bar">ez-progress-bar</a>: 💤 A minimalist way to display a progress bar while running code.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="repo-details">
                            <b>Status:</b> Released and no future update planned at the moment. <i class="fas fa-pause"></i>
                            <br>
                            <b>Details:</b>
                            Python, updated 04/08/2019 on <a href="https://github.com/ez-apis"><i class="fab fa-github"></i> github</a>.
                        </div>
                    </div>

                    <h2>Main projects</h2>
                    <hr>

                    <!-- Main projects -->
                    <div class="repo" v-for="mrepo in mrepos_details">

                        <!-- Auto repos -->
                        <div :id="mrepo.api.name" class="container">
                            <div class="row">
                                <div class="col-md-2 col-lg-1 repo-image center">
                                    <img :src="mrepo.details.image">
                                </div>
                                <div class="col-md-9 col-lg-10 repo-content">
                                    <div class="repo-title">
                                        {{ mrepo.api.name }}
                                        <span class="repo-subtitle">
                                            <i class="fa-fw fas fa-star"></i> {{ mrepo.api.stars }}
                                            <i class="fa-fw fas fa-eye"></i> {{ mrepo.api.watchers }}
                                            <i class="fa-fw fas fa-code-branch"></i> {{ mrepo.api.forks }}
                                            <i class="fa-fw fas fa-bug"></i> {{ mrepo.api.open_issues.length }}
                                        </span>
                                    </div>
                                    <div class="repo-description">
                                        {{ mrepo.api.description }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="repo-details">
                            <b>Status:</b>
                            <span v-if="mrepo.details.university">
                                <i class="fas fa-university"></i> University project.
                            </span>
                            <span v-if="mrepo.details.released">
                                Released
                                <span v-if="mrepo.details.indev">
                                    and currently maintained. <i class="fas fa-code"></i>
                                </span>
                                <span v-else>
                                    and no future update planned at the moment. <i class="fas fa-pause"></i>
                                </span>
                                <br>
                                <b>Latest release:</b>
                                {{mrepo.api.releases[0].title}} ({{mrepo.api.releases[0].tag_name}})
                            </span>
                            <span v-else>
                                Not released
                                <span v-if="mrepo.details.indev">
                                    but in development. <i class="fas fa-code"></i>
                                </span>
                                <span v-else>
                                    and development paused. <i class="fas fa-times"></i>
                                </span>
                            </span>
                            <br>
                            <b>Details:</b>
                            {{ mrepo.api.language}}, updated {{ mrepo.last_update }} days ago on <a :href="mrepo.api.html_url"><i class="fab fa-github"></i> github</a>.
                        </div>
                    </div>

                    <br>
                    <h2>Minor projects</h2>
                    <hr>

                    <!-- Normal projects -->
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xl-3 repo" v-for="nrepo in nrepos_details">
                            <div :id="nrepo.api.name">
                                <div class="repo-content">
                                    <div class="repo-title">
                                        {{ nrepo.api.name }}
                                        <div class="repo-subtitle">
                                            <i class="fa-fw fas fa-star"></i> {{ nrepo.api.stars }}
                                            <i class="fa-fw fas fa-eye"></i> {{ nrepo.api.watchers }}
                                            <i class="fa-fw fas fa-code-branch"></i> {{ nrepo.api.forks }}
                                            <i class="fa-fw fas fa-bug"></i> {{ nrepo.api.open_issues.length }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="repo-description">
                                        {{ nrepo.api.description }}
                                    </div>
                                </div>

                                <div class="repo-details">
                                    <b>Details:</b>
                                    {{ nrepo.api.language}}, updated {{ nrepo.last_update }} days ago on <a :href="nrepo.api.html_url"><i class="fab fa-github"></i> github</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="row">

                        <!-- Left column -->
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    <a href="https://github.com/N3ROO" target="_blank">
                                        <i class="fa-fw fab fa-github"></i> Github profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/lilian-gallon/" target="_blank">
                                        <i class="fa-fw fab fa-linkedin"></i> LinkedIn profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://stackoverflow.com/users/8811838/nero" target="_blank">
                                        <i class="fa-fw fab fa-stack-overflow"></i> StackOverflow profile
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Middle column -->
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    <a href="https://pages.github.com/" target="_blank">Hosted by Github pages</a>
                                </li>
                                <li>
                                    <a href="https://domains.google/" target="_blank">Domain provided by Google</a>
                                </li>
                                <li>
                                    Powered by <a href="https://vuejs.org/">Vue.js</a> & <a href="https://getbootstrap.com/">Bootstrap</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Right column -->
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    Design inspired by Github
                                </li>
                                <li>
                                    <a href="/about.html">About</a> • <a href="/about.html#sitemap">Sitemap</a>
                                </li>
                                <li>
                                    <a href="/about.html#changelog">© Lilian Gallon, version {{ version }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right content (hidden if < lg) -->
            <div class="col-lg-2 right-panel d-none d-xl-block">
                <!-- ... -->
            </div>
        </div>
    </div>


    <!-- Bootstrap (JQuery, Popper & Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Utilities -->
    <script src="vendors/axios-0.19.2/axios.min.js"></script>

    <!-- Javascript using vue -->
    <script src="js/projects.js"></script>

</body>
</html>