<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134954906-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134954906-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    <meta name="description" content="Website of Lilian Gallon, French CS student from Bordeaux curently studying at the University of California - Santa Cruz."/>
    <meta name="keywords" content="Lilian Gallon, nero, N3ROO, N3RO, Lilian, Gallon, Bordeaux, Université de Bordeaux, IUT Bordeaux, Licence Bordeaux, University of California, UCSC, Santa Cruz, nero!"/>
    <meta name="author" content="Lilian Gallon"/>
    <meta name="copyright" content="Lilian Gallon"/>
    <meta name="robots" content="follow"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/resources/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/resources/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Website preview -->
    <meta property="og:image" content="https://nero.dev/resources/images/logo/website_preview.png" />

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="/vendors/fontawesome-free-5.11.2-web/css/all.min.css">

    <!-- Vue.js -->
    <script src="/vendors/vuejs/vue.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Website CSS -->
    <link rel="stylesheet" href="/style/utility.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/sidebar.css">
    <link rel="stylesheet" href="/style/middle.css">
    <link rel="stylesheet" href="/style/right.css">
    <link rel="stylesheet" href="/style/footer.css">


    <title>Resume - nero.dev</title>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black bottom-gradient">
            <a class="navbar-brand" href="/">
                <img src="resources/images/logo/nero_dev_round_cut.png" alt="logo" height="30px" class="d-inline-block align-top" alt="">
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <!-- <input class="form-control mr-sm-2" placeholder="Coming soon..."> -->

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog.html">Blog</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/resume.html">Resume <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Utility
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <!-- <a class="dropdown-item" href="/musics.html">Musics</a> -->
                          <a class="dropdown-item" href="/gists.html">Gists</a>
                          <a class="dropdown-item" href="/about.html#changelog">Changelog</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">v{{ version }}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">

            <!-- Sidebar -->
            <div class="col-xl-2 col-md-4 left-panel">
                <div class="container sticky">
                    <div class="image">
                        <img src="/resources/images/resume/profile.jpg" width="200px"/>
                        <i class="fas fa-map-marker-alt"></i> San Francisco, California
                    </div>
                    <div class="title">
                        Lilian Gallon
                    </div>
                    <div class="description">
                        Fourth year French computer science student currently at the University of California, Santa Cruz.
                        From the University of Bordeaux, France.
                        <br/> <br/>
                        <i class="fa-fw far fa-envelope"></i> lgallon[at]ucsc[dot]edu <br>
                        <i class="fa-fw fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/lilian-gallon/" target="_blank" class="discret-link">Lilian Gallon</a> <br>
                        <i class="fa-fw fab fa-github"></i> <a href="https://github.com/N3ROO" target="_blank" class="discret-link">N3ROO</a> <br>
                        <i class="fa-fw fab fa-stack-overflow"></i> <a href="https://stackoverflow.com/users/8811838/nero" target="_blank" class="discret-link">StackOverflow profile</a>
                    </div>

                    <a class="github-button" href="https://github.com/N3ROO" data-size="large" data-show-count="true" aria-label="Follow @N3ROO on GitHub">Follow @N3ROO</a>

                    <br><br>Websites of friends:<br>
                    - <a href="https://ljolliet.github.io/" target="_blank">Louis</a>
                </div>
            </div>

            <!-- Middle content -->
            <div class="col-xl-8 col-md-8 middle-panel">
                <div class="container">
                    <div class="section">
                        <div class="title1">
                            Lilian Gallon
                        </div>
                        <div class="subtitle">
                            Software engineering student
                        </div>

                        <br>

                        <!-- Experience -->
                        <div class="section-title">
                            EXPERIENCE
                        </div>
                        <div>
                            <b>Engie Inéo, Pessac, France</b>
                            <em> - Software developer</em>
                            <br>
                            <small>april 2018 - june 2018</small>
                            <ul>
                                <li>
                                    Design and implementation of a data analysis software to detect,
                                    visualize and interpret the logical links between different energy readings.
                                    <em>- <i class="fab fa-python"></i> Python with matplotlib, numpy, tkinter</em>
                                </li>
                                <li>
                                    Web scraping script working on a website with credentials.
                                    <em>- <i class="fab fa-python"></i> Python with beautifulsoup</em>
                                </li>
                                <li>
                                    Script for periodic FTP synchronization.
                                    <em>- <i class="fab fa-python"></i> Python </em>
                                </li>
                            </ul>
                            <a class="info discret-link" data-toggle="popover" title="More details"
                               data-trigger="focus" tabindex="0"
                               data-content="Detection of logical models on energy data in order to optimize energy consumption. Each survey analyzed had at least
                                            30,000 records (the biggest one had 3M records). To give you an idea, analyzing 30,000 records takes about 10 seconds,
                                            and around 5 minutes with 3M records.">
                                <i class="far fa-comment"></i> More details about my work at Engie Inéo
                            </a>
                        </div>
                        <br>

                        <!-- Education -->
                        <div class="section-title">
                            EDUCATION
                        </div>
                        <div>
                            <b>University of California, Santa Cruz</b>
                            <em> - Master of Science, Computer Science</em>
                            <br>
                            <small>SEPTEMBER 2019 - JUNE 2020</small>

                            <br>

                            <ul v-for="term in terms">
                                <div class="underline">
                                    {{ term.name }}:
                                </div>
                                <li v-for="course in term.courses">
                                    <a class="info discret-link" data-toggle="popover" data-trigger="focus" tabindex="0" title="Course description" :data-content="course.description">
                                        <i class="far fa-comment"></i>  {{ course.title }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <b>University of Bordeaux</b>
                            <em> - Bachelor of Science, Computer Science</em>
                            <br>
                            <small>SEPTEMBER 2018 - JUNE 2019</small>
                        </div>

                        <br>

                        <div>
                            <b>Bordeaux Institute of Technology</b>
                            <em> - Associate of Science degree, Computer Science</em>
                            <br>
                            <small>SEPTEMBER 2016 - JUNE 2018</small>
                        </div>

                        <br>

                        <!-- Skills -->
                        <div class="section-title">
                            SKILLS
                        </div>
                        <div>
                            <b>Languages</b>
                            <ul>
                                <li>+++: Python, Java, Javascript, HTML5/CSS</li>
                                <li>++: C++, C</li>
                                <li>+: SQL, C#, PHP</li>
                            </ul>
                            <b>Technologies</b>
                            <ul>
                                <li>Web: React, Vue.js, Flask, Bootstrap, JQuery</li>
                                <li>Tools: Gradle, Maven</li>
                                <li>CI: Github Actions, TravisCI</li>
                                <li>Libraries: OpenGL, JavaFX, SFML, SDL, OpenCV</li>
                                <li>Miscellaneous: Android development, Unity, Game modding</li>
                            </ul>
                            <b>Miscellaneous</b>
                            <ul>
                                <li>Fluent in English</li>
                                <li>Fluent in French</li>
                                <li>Experience with Agile management</li>
                            </ul>
                        </div>

                        <!-- Skills -->
                        <div class="section-title">
                            PROJECTS
                        </div>
                        <div>
                            You can see all my projects by browsing the <a href="/projects.html">projects page</a>.
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="row">

                        <!-- Left column -->
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    <a href="https://github.com/N3ROO" target="_blank">
                                        <i class="fa-fw fab fa-github"></i> Github profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/lilian-gallon/" target="_blank">
                                        <i class="fa-fw fab fa-linkedin"></i> LinkedIn profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://stackoverflow.com/users/8811838/nero" target="_blank">
                                        <i class="fa-fw fab fa-stack-overflow"></i> StackOverflow profile
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Middle column -->
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    <a href="https://pages.github.com/" target="_blank">Hosted by Github pages</a>
                                </li>
                                <li>
                                    <a href="https://domains.google/" target="_blank">Domain provided by Google</a>
                                </li>
                                <li>
                                    Powered by <a href="https://vuejs.org/">Vue.js</a> & <a href="https://getbootstrap.com/">Bootstrap</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Right column -->
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    Design inspired by Github
                                </li>
                                <li>
                                    <a href="/about.html" class="text-muted">About</a> • <a href="/about.html#sitemap" class="text-muted">Sitemap</a>
                                </li>
                                <li>
                                    <a href="/about.html#changelog" class="text-muted">© Lilian Gallon, version {{ version }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right content (hidden if < lg) -->
            <div class="col-lg-2 right-panel d-none d-xl-block">
                <!-- ... -->
            </div>
        </div>
    </div>


    <!-- Bootstrap (JQuery, Popper & Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Utilities -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Bootstrap init -->
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <!-- Javascript using vue -->
    <script src="js/resume.js"></script>

</body>
</html>