.footer {
    text-align: center;
    color: var(--white1);
    border-top: 1px solid var(--white1);
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 15px;
    font-size: x-small;
}

.footer li {
    list-style-type: none;
    text-align: left;
}

.footer ul {
    padding-left: 0px;
}

.footer a {
    text-decoration: none;
    color: var(--white3);
}

.footer a:hover {
    color: var(--white1);
}