/*@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.middle-panel {
    background: var(--black3);
    color: var(--white1);
    padding-top: 15px;
}

.middle-panel .activity {
    background: var(--black2);
    border-radius: 5px;
    border: 1px solid var(--black3);
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

.middle-panel .content {
    text-align: justify;
}

.middle-panel .details {
    margin-top: 5px;
    font-size: small;
    font-style: italic;
}

.middle-panel .content .so-title {
    font-size: large;
    margin-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--black3);
    margin-bottom: 10px;
}

.middle-panel .title1,.title2 {
    margin-top: 15px;
}

.middle-panel .title1 {
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
}

.middle-panel .title2 {
    font-family: 'Rubik', sans-serif;
    font-size: large;
}

.middle-panel .subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: large;
}

.middle-panel .section {
    font-family: 'Montserrat', sans-serif;
}

.middle-panel .section-title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 400px;
    border-bottom: 1px solid var(--black3);
    margin-bottom: 10px;
    margin-top: 20px;
}

.middle-panel p {
    text-align: justify;
}

.middle-panel li {
    margin-top: 5px;
}

.middle-panel small {
    text-transform: uppercase;
}

.middle-panel li {
    font-size: medium;
}

.middle-panel li em {
    color: --var(--white1);
}

.middle-panel .info:hover {
    cursor: pointer;
    color: --var(--white1) !important;
}

.middle-panel .repo {
    border-bottom: 1px solid var(--white1);
    margin: 10px;
    padding-bottom: 20px;
    background: var(--black2);
    color: var(--white1);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.middle-panel .repo-image {
    margin-right: 20px;
}

.middle-panel .repo-image img{
    margin-top: 10px;
    width: 75px;
}

.middle-panel .repo-title {
    font-size: x-large;
}

.middle-panel .repo-subtitle {
    font-size: medium !important;
}

.middle-panel .repo-details {
    margin-top: 20px;
    font-size: small;
}

.middle-panel .nrepo {
    margin: 5px;
}

.middle-panel .nrepo .repo-title {
    font-size: large;
}

.middle-panel .nrepo .repo-subtitle {
    font-size: medium;
}

.middle-panel .activity .changelog li {
    list-style-type: none;
}
