@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Indie+Flower&display=swap');

:root {
    --white: #FFFFFF;
    --black-light: #1D1D1D;
    --black-dark: #181818;
    --accent: #08FDD8;
    --gray: #494949;
}

body {
    background: var(--black-light);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: var(--white);
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.sidebar {
    background: var(--black-dark) !important;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--accent);
}

.content {
    margin-left: 2em;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.5em;
    margin: 0;
}

.tag {
    font-family: 'Indie Flower', cursive;
    position: relative;
    left: -20px;
    color: var(--gray);
}