html {
    overflow-x: hidden;
}

a {
    color: var(--main1);
}

a:hover {
    text-decoration: none;
    color: var(--main2);
}

.main-palette {
    color: var(--main1);
}

.bg-black {
    background: var(--black1);
}

.form-control {
    height: 30px;
}

.sticky {
  position: sticky;
  top: 10px;
}

.fake-link {
    color: var(--white1);
    font-size: x-small;
}

.fake-link:hover {
    color: var(--white3);
    cursor: pointer;
}

.discret-link {
    color: var(--white1);
}

.discret-link:hover {
    color: var(--white3);
    text-decoration: none;
}

.dropdown.show{
    margin-top: 0;
}

.underline {
    text-decoration: underline;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.bottom-gradient {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    -moz-border-image: var(--gradient1);
    -webkit-border-image: var(--gradient1);
    -o-border-image: var(--gradient1);
    border-image: var(--gradient1);
}

.focus {
    background: var(--main3) !important;
    border: 1px solid var(--main4) !important;
}

/* toggler */

.navbar-toggler i {
    color: var(--white3);
}

.navbar-toggler:focus,.navbar-toggler:active {
    outline-color: var(--white3);
}

.navbar-toggler:hover {
    cursor: pointer;
}

/* button */

.button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--black3);
    background: var(--black3);
    color: var(--white1);
    text-decoration: none;
}

.button:hover{
    transition: ease-in 0.05s;
    background: var(--black2);
}

.button:active {
    border: 1px solid var(--main1);
}

.button:focus {
    outline: none;
    outline-color: var(--main1);
}

/* Bootstrap input fix */

.form-control {
    background: var(--black3);
    border-color: var(--black3);
    color: var(--white1);
}

.form-control:focus {
    background: var(--black2);
    border-color: var(--main1);
    box-shadow: 0.1 0.1 0.1 0.2rem var(--main1);
    color: var(--white1);
}

.form-control::placeholder {
    color: var(--white1);
}


/* Github calendar fix */

.calendar {
    border: 1px solid var(--black3);
}

.calendar .contrib-number {
    color: var(--white1);
}

.calendar .contrib-column {
    border: 1px solid var(--black3) !important;
}

.calendar .border {
    border: 1px solid var(--black3) !important;
}

/* callouts */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--black4);
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: var(--black4);
}

.bs-callout-default h4 {
    color: var(--black4);
}

.bs-callout-primary {
    border-left-color: var(--main1);
}

.bs-callout-primary h4 {
    color: var(--main1);
}

.bs-callout-success {
    border-left-color: var(--secondary4);
}

.bs-callout-success h4 {
    color: var(--secondary4);
}

.bs-callout-danger {
    border-left-color: var(--secondary1);
}

.bs-callout-danger h4 {
    color: var(--secondary1);
}

.bs-callout-warning {
    border-left-color: var(--secondary3);
}

.bs-callout-warning h4 {
    color: var(--secondary3);
}

.bs-callout-info {
    border-left-color: var(--main4);
}

.bs-callout-info h4 {
    color: var(--main4);
}