html {
    overflow-x: hidden;
}

.bg-black {
    background: rgb(45, 50, 55);
}

.form-control {
    height: 30px;
}

.sticky {
  position: sticky;
  top: 10px;
}

.fake-link {
    font-size: x-small;
}

.fake-link:hover {
    color: grey;
    cursor: pointer;
}

.discret-link {
    color: rgb(33, 37, 41);
}

.discret-link:hover {
    color: grey;
    text-decoration: none;
}

.dropdown.show{
    margin-top: 0;
}

.underline {
    text-decoration: underline;
}