html {
    overflow-x: hidden;
}

.bg-black {
    background: rgb(45, 50, 55);
}

.form-control {
    height: 30px;
}

.sticky {
  position: sticky;
  top: 10px;
}

.fake-link {
    font-size: x-small;
}

.fake-link:hover {
    color: grey;
    cursor: pointer;
}