
/* It is possible to change the theme by updating these variables */
:root {
    --main-gradient: linear-gradient(
        to right,
        rgb(1,174,239) 0%,
        rgb(122,30,179) 50%,
        rgb(238,1,67) 100%
    ) 1;

    --second-color-separator: linear-gradient(
        to right,
        rgb(36, 39, 43) 10%,
        rgb(204, 0, 102) 50%,
        rgb(36, 39, 43) 90%
    ) 1;

    --background-gradient:
        repeating-linear-gradient(
            145deg,
            transparent,
            transparent 90px,
            rgb(36, 39, 43) 80px,
            rgba(38,42,45) 330px
        ),
        linear-gradient(
             bottom,
            rgb(36, 39, 43),
            rgba(38,42,45)
        );

    --background-gradient-moz:
        repeating-linear-gradient(
            145deg,
            transparent,
            transparent 90px,
            rgb(36, 39, 43) 80px,
            rgba(38,42,45) 330px
        ),
        -moz-linear-gradient(
            bottom,
            rgb(36, 39, 43),
            rgba(38,42,45)
        );

    --background-gradient-webkit:
        -webkit-repeating-linear-gradient(
            145deg,
            transparent,
            transparent 90px,
            rgb(36, 39, 43) 80px,
            rgba(38,42,45) 330px
        ),
        -webkit-linear-gradient(
            bottom,
            rgb(36, 39, 43),
            rgba(38,42,45)
        );

    --main-color: rgb(36, 39, 43);
    --second-color: rgb(204, 0, 102);
    --third-color: rgb(1,174,239);
    --fourth-color: rgb(238,1,67);
    --fifth-color: rgb(122,30,179);

    --text-background-color: rgb(45, 48, 53);
    --text-background-color-alpha: rgb(45, 48, 53, 0.5);
    --text-background-color-2: rgb(55, 58, 63);
    --text-background-color-2-alpha: rgb(55, 58, 63, 0.5);
    --main-text-color: rgb(255, 255, 255);
    --second-text-color: #6F717D;
}

/*           UTILITY            */

/* It is used to get a gradient line at the bottom of the specified container */
.bottom-gradient {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    -moz-border-image: var(--main-gradient);
    -webkit-border-image: var(--main-gradient);
    -o-border-image: var(--main-gradient);
    border-image: var(--main-gradient);
}

/* It is used to get a gradient line at the top of the specified container */
.top-gradient {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    -moz-border-image: var(--main-gradient);
    -webkit-border-image: var(--main-gradient);
    -o-border-image: var(--main-gradient);
    border-image: var(--main-gradient);
}

.bottom-second-color {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--second-color);
}

.background-gradient {
    background: var(--main-color); /*in case the browser is outdated af */
    background: var(--background-gradient);
    background: var(--background-gradient-moz);
    background: var(--background-gradient-webkit);
}

.main-color {
    background: var(--main-color);
}

.second-color {
    color: var(--second-color);
}

.third-color {
    color: var(--third-color);
}

.align-right{
    text-align: right;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.italic{
    font-style: italic;
}

.link-style-1 a:link,.link-style-1 a:visited {
    color: var(--main-text-color);
    text-decoration: none;
}

.link-style-1 a:hover {
    color: var(--second-color);
    text-decoration: none;
}

.link-style-1:active {
    color: var(--third-color);
    text-decoration: none;
}

.link-style-2 a:link,.link-style-2 a:visited {
    color: var(--second-color);
    text-decoration: none;
}

.link-style-2 a:hover {
    color: var(--third-color);
    text-decoration: none;
}

.link-style-2 a:active {
    color: var(--fifth-color);
    text-decoration: none;
}

.no-padding {
    padding: 0px;
}

.text-justify-xs {
    text-align: justify;
}

/* Small devices and lower <=sm */
@media (max-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
}

/* Medium devices and lower <=md */
@media (max-width: 992px) {
    .text-center-md {
        text-align: center;
    }

    .responsive-project-image {
        width: 100px;
    }
}

/* Large devices and lower =<lg */
@media (max-width: 1200px) {
    .text-center-lg {
        text-align: center;
    }

    .responsive-project-image {
        width: 90px;
    }

    .responsive-project-details-image {
        width: 150px;
    }

    .project-description {
        min-height: 140px !important;
    }
}

/* only lg */
@media (max-width: 1200px) and (min-width: 993px) {
    .project-description {
        text-align: left !important;
    }
}

/* Extra large devices and higher >=xl */
@media (min-width: 1201) {
    
}

/*           CONTAINERS            */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--main-text-color);
}

a:link.btn,a:visited.btn {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover.btn {
    color: var(--second-color);
}

a:active.btn {
    color: var(--third-color);
}

.btn {
    background: var(--main-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--second-color);
}

.btn:hover {
    background: var(--main-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--second-color);
}

/*           SPECIFIC            */

.navbar {
    -webkit-box-shadow: 0px 2px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 22px -10px rgba(0,0,0,0.75);
}

.navbar-toggler {
    background: #31353B;
    background: var(--main-color);
    -webkit-transition: outline-color 0.5s;
    transition: outline-color 0.5s;
}

.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler:visited {
    border-color: var(--second-color);
    outline-width: 0px;
    -webkit-transition: outline-color 0.5s;
    transition: outline-color 0.5s;
}

.dropdown-menu {
    border-width: 1px;
    background: var(--main-color);
    color: var(--second-text-color);
}

.dropdown-menu a {
    color: var(--second-text-color);
}

.dropdown-menu a:hover {
    color: var(--second-color);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    background: var(--main-color);
}

.lower-dropdown-section .dropdown-item:hover {
    background: var(--main-color);
}

.dropdown-divider {
    -moz-border-image: var(--second-color-separator);
    -webkit-border-image: var(--second-color-separator);
    -o-border-image: var(--second-color-separator);
    border-image: var(--second-color-separator);
}

.show > .dropdown-menu {
    max-height: 200px;
    visibility: visible;
}

.dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.active {
    background-color: var(--main-color) !important;
}

/* It concerns the social buttons that are below the logo in the footer */
.social-below-logo {
    padding-top: 5px;
}

.social-below-logo i {
    padding-left: 5px;
}

/* It is used with <hr> */
.separator {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;

    border: 0;
    height: 1px;

    background: var(--second-color);
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* It concerns the projects showcased below the carousel */
.showcase {
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(--main-text-color);
}

.fill-showcase-image {
    height: 140px;
    width: 140px;
    border-radius: 70px;
    display: inline-block;
}

.showcase-image {
    margin-bottom: 20px;
}

.playlists-by-genre-showcase{
    background: linear-gradient(270deg, #6900c3, #b550f2, #f250ae);
    background-size: 600% 600%;
    -webkit-animation: GradientAnimation 10s ease infinite;
    -moz-animation: GradientAnimation 10s ease infinite;
    animation: GradientAnimation 10s ease infinite;
}

.particles-showcase{
    background: linear-gradient(270deg, #00c3c2, #b550f2, #f25650);
    background-size: 600% 600%;
    -webkit-animation: GradientAnimation 30s ease infinite;
    -moz-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
}

.particles-parent {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.text-page-content {
    font-family: 'Raleway', sans-serif;
    background: var(--text-background-color-alpha);
    border-radius: 5px;
    padding: 20px;
}

.text-page h1, .text-page h2, .text-page h3, .text-page h4, .text-page h5, .text-page h6 {
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
}

.text-page h1, .text-page h2{
    margin-top: 30px;
}

.text-page p {
    color: var(--second-text-color);
    text-align: justify;
}

.text-page .no-p-margin {
    margin-bottom: 0px;
}

.text-page ul {
    color: var(--second-text-color);
}

#about {
    margin-top: 80px;
    margin-bottom: 50px;
}

#projects {
    margin-top: 80px;
    margin-bottom: 50px;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
    font-size: 30px;
}

.project-showcase {
    background-color: var(--text-background-color-alpha);
    color: var(--second-text-color);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.project-header {
    padding-top: 10px;
}

.project-header p {
    margin: 10px;
}

.project-header .container{
    min-height: 55px;
}

.project-title {
    padding-left: 0px !important;
}

.project-title h1 {
    color: var(--main-text-color);
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.project-title div {
    font-size: 11px;
}

.project-stats {
    background-color: var(--text-background-color-2-alpha);
    padding: 10px;
}

.project-stats h2 {
    text-transform: uppercase;
    font-size: 12px;
}

.project-footer {
    background-color: var(--text-background-color-2-alpha);
    padding:  0px  10px 5px 10px;
    margin:   5px 0px  0px  0px;
}

.project-footer div {
    padding-top: 5px;
}

.project-footer a {
    color: var(--second-text-color)
}

.project-description {
    margin: 10px;
    font-style: italic;
    font-size: 13px;
    text-align: justify;
    min-height: 100px;
}

.project-details .project-showcase {
    width: 100%;
}

.project-details .project-title div {
    font-size: 14px;
}

.project-details .project-description {
    font-size: 16px;
    min-height: 0px !important;
}

.project-details .project-stats {
    font-size: 12px;
}

.project-details .project-new-paragraph {
    background-color: var(--text-background-color-2-alpha);
    padding:  10px  10px 10px 10px;
    margin:   0px 0px  5px  0px;
    text-align: justify;
}

.project-details .project-new-paragraph h2{
    text-transform: uppercase;
    font-size: 12px;
}

.project-details .project-links {
    background-color: var(--text-background-color-2-alpha);
    padding:  10px  10px 10px 10px;
    margin:   5px 0px  0px  0px;
}

.project-details .project-links h2{
    text-transform: uppercase;
    font-size: 12px;
}

.project-details .project-links ul{
    text-transform: uppercase;
    font-size: 10px;
}

.project-details .project-links em {
    font-size: 12px;
}