:root {
    --main-gradient: linear-gradient(
        to right,
        rgb(1,174,239) 0%,
        rgb(122,30,179) 50%,
        rgb(238,1,67) 100%
    ) 1;

    --main-gradient-inversed: linear-gradient(
        to right,
        rgb(238,1,67) 0%,
        rgb(122,30,179) 50%,
        rgb(1,174,239) 100%
    ) 1;

    --second-color-separator: linear-gradient(
        to right,
        rgb(36, 39, 43) 10%,
        rgb(204, 0, 102) 50%,
        rgb(36, 39, 43) 90%
    ) 1;

    --background-gradient:
        repeating-linear-gradient(
            145deg,
            transparent,
            transparent 90px,
            rgb(36, 39, 43) 80px,
            rgb(38, 42, 45) 330px
        ),
        linear-gradient(
             bottom,
            rgb(36, 39, 43),
            rgb(38, 42, 45)
        );

    --background-gradient-moz:
        repeating-linear-gradient(
            145deg,
            transparent,
            transparent 90px,
            rgb(36, 39, 43) 80px,
            rgb(38, 42, 45) 330px
        ),
        -moz-linear-gradient(
            bottom,
            rgb(36, 39, 43),
            rgb(38, 42, 45)
        );

    --background-gradient-webkit:
        -webkit-repeating-linear-gradient(
            145deg,
            transparent,
            transparent 90px,
            rgb(36, 39, 43) 80px,
            rgb(38, 42, 45) 330px
        ),
        -webkit-linear-gradient(
            bottom,
            rgb(36, 39, 43),
            rgb(38, 42, 45)
        );

    --main-color: rgb(36, 39, 43);
    --second-color: rgb(204, 0, 102);
    --third-color: rgb(1,174,239);
    --fourth-color: rgb(238,1,67);
    --fifth-color: rgb(122,30,179);

    --nav-footer-color: rgb(36, 39, 43);

    --text-background-color: rgb(45, 48, 53);
    --text-background-color-alpha: rgb(45, 48, 53, 0.5);
    --text-background-color-2: rgb(55, 58, 63);
    --text-background-color-2-alpha: rgb(55, 58, 63, 0.5);
    --main-text-color: rgb(255, 255, 255);
    --second-text-color: #6F717D;
}